<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{{ site.title }}</title>

		<link rel="stylesheet" href="{{site.baseurl}}/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{site.baseurl}}/css/custom.css">
	</head>
	<body>
		<div class="topbar affix-top">
			<div class="container">
				<div class="row">
					<div>
						<nav class="navbar" role="navigation">
							<div>
								<ul>
									<li>
										<a title="Home" href="http://www.mountainview-webdesign.com/">Home</a>
									</li>
									<li>
										<a title="Blog" href="http://www.mountainview-webdesign.com/blog/">Blog</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div>
							<h1><a href="http://www.mountainview-webdesign.com">{{ site.title }}</a></h1>
							<span class="tagline">{{ site.description }}</span>
						</div>
					</div>
					<div class="col-md-6 alignright">
						<span class="top-info"><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
					</div>
				</div>
			</div>
		</header>

		{{ content }}

		<script type="text/javascript" src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>
